* {
    
    outline: 0;
    margin: 0;
    padding: 0;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    display: block;
}

h1{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #262a2e;
    margin-top: 0;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
    margin: 0.67em 0;
}
.main-wrapper {
    position: relative;
}
.pageTitle {
    margin-top:0;
    background-color: #003366;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 330px;
}
.container {
    width: calc(100% - 30px);
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.pageTitle .titleTable {
    margin-top: 130px;
    display: table;
    height: 200px;
    width: 100%;
}
.pageTitle .titleTable .titleTableInner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.pageTitle .titleTable .titleTableInner .pageTitleInfo {
    text-align: center;
}
.pageTitle .titleTable .titleTableInner .pageTitleInfo h1 {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;    
}
.under-border {
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 16px auto 0;
}
.row:after {
    clear: both;
}
.container:before{
    box-sizing: border-box;
    display: table;
    content: " ";
}
.row:before {
    display: table;
    content: " ";
}
.mainContentSection {
    padding-top: 30px;
    width: 100%;
    padding: 100px 0 70px 0;
    background-color: #ffffff;
    display: block;
}
.col-sm-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.contactInfo > h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 100;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #262a2e;
    margin-top: 0;
    margin-bottom: 10px;
}
.contactInfo .media {
    margin-bottom: 20px;
}
.media {
    margin-top: 15px;
}
.contactInfo .media .media-left {
    width: 75px;
    /* display: inline-block; */
    height: 75px;
    line-height: 75px;
    text-align: center;
    /* background-color: #ff891e; */
    color: #ffffff;
    padding-right: 0;
    margin-right: 25px;
    font-size: 35px;
    float: left; 
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.media-body{
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    zoom: 1;
}
.contactInfo .media .media-body h4 {
    line-height: 22px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #262a2e;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.contactInfo .media p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: 400;
    margin: 0 0 10px;
}
.contactInfo .media p a {
    color: #969696;
    text-decoration: none;
}
.contact-branch {
    color: #000000;
    text-decoration: underline !important;
}
.form-group {
    margin-bottom: 15px;
}
.form .form-group .form-control{
    height: 45px;
    background-color: whitesmoke;
    box-shadow: none;
    border-color: #ccc;
    background-color: #e0e0e0;
    color: #000;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 14px;
}
.contactForm .form-control {
    border: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.col-sm-8 {
    width: 60.7777777%;
    /* width: calc(100%-4px); */
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}
.contactForm .buttonCustomPrimary {
    float: right;
}
.form .buttonCustomPrimary{
    padding: 0 20px;
}
.buttonCustomPrimary {
    line-height: normal;
    background-color: #ff891e;
    text-transform: uppercase;
    color: #ffffff !important;
    font-size: 15px;
    padding: 0;
    margin-bottom: 5px;
    font-weight: 400;
    height: 45px;
}
.btn {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    padding: 9px 0;
    border: 1px solid transparent;
}
.clear{
    clear: both;
}
.Area .mapArea{
    min-width: 100%;
    justify-content: center;
    text-align: center;
}

.footer{
    width: 100%;
    height: 280px;
    background-color: rgb(23, 44, 127);
}
.footer-top{
    display: flex;
    color: rgb(255, 255, 255);
    padding: 2rem 5rem;
}
.footer-top .infor{
    padding: 2rem;
    width: 40%;
}
.footer-top .service-information{
    padding: 0 2rem;
    width: 20%;
}
.footer-top .customer-care{
    padding: 0 2rem;
    width: 20%;
}
.footer-top .contact{
    padding: 0 2rem;
    width: 20%;
}
.footer a{
    text-decoration: none;
    color: white;
}
