* {
    margin: 0;
    padding: 0;
  }
  
  .timkiem {
    height: 70px;
    display: flex;
    background-color: #d9dee867;
    align-items: center;
    justify-content: center;
  }
  .input_timkiem {
    background-color: #fff;
    width: 300px;
    height: 40px;
    border: 2px solid rgb(135, 127, 127);
    border-radius: 2px;
  }
  .input_ngay {
    background-color: #fff;
    width: 200px;
    height: 40px;
    border: 2px solid rgb(135, 127, 127);
    border-radius: 2px;
    margin-left: 30px;
  }
  /* .start_date {
  
  } */
  .select_date {
    top: 25%;
    margin-left: -120px;
    border: none;
    outline: none;
  }
  .ngay {
    display: flex;
  }
  .select_region {
    height: 36px;
    width: 120px;
    border: 2px solid rgb(135, 127, 127);
    border-radius: 2px;
    margin-left: 20px;
    cursor: pointer;
  }
  .button_search button {
    margin-left: 20px;
    padding: 9px 16px;
    background-color: #fe8605;
    border: 2px solid #fe8605;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
  }
  .button_search button:hover{
    opacity: 0.8;
  }
  h2 {
    color: rgb(11, 11, 98);
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .tour {
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 3px -2px gray;
    margin-bottom: 30px;
    position: relative;
  }
  .tour a {
    text-decoration: none;
  }
  .anh {
    padding: 5px;
    margin-left: 15px;
    width: 400px;
    height: 250px;
  }
  
  .overlay {
    margin-left: 20px;
    padding: 12px;
    margin-bottom: 9px;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #ffff; 
    width: 390px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 17px;
    text-align: center;
  }
  
  .tour:hover .overlay  {
    opacity: 1;
  }
  
  
  .mota {
    margin-left: 15px;
    padding: 20px;
    width: 600px;
  }
  .mota_first a {
      font-family:Arial, Helvetica, sans-serif;
      color: rgb(11, 11, 98);
    font-size: 22px;
    font-weight: 500;
  }
  
  .mota_first a:hover {
      color: #fe8605;
  }
  
  .mota h3 {
      font-family:Arial, Helvetica, sans-serif;
      color: rgb(50, 49, 49);
      margin-top: 30px;
      margin-bottom: 30px;
  }
  
  .mota p {
      font-size: 15px;
      margin-bottom: 10px;
      font-family:Arial, Helvetica, sans-serif;
      color: gray;
  }
  .ChiTiet {
    text-align: center;
    width: 120px;
    height: 40px;
    background-color: #fe8605;
    margin-top: 80px;
  }
  
  .ChiTiet a {
      /* font-family:Arial, Helvetica, sans-serif; */
    font-weight: 800px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
  
  }
  
  .footer {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-color: rgb(39, 68, 185);
  }
  .footer-top {
    display: flex;
    color: rgb(255, 255, 255);
    padding: 2rem 4rem;
  }
  .footer-top .infor {
    width: 30%;
  }
  
  .footer-top p {
      font-size: 12px;
      margin-bottom: 15px;
      /* font-family:Arial, Helvetica, sans-serif; */
  }
  .footer-top .service-information {
    width: 30%;
    /* margin-left: 10px; */
  }
  .footer-top .customer-care {
    width: 30%;
    /* margin-left: -20px; */
  }
  .footer-top .contact {
    width: 30%;
    /* margin-left: 20px; */
  }
  
  .header {
  position: fixed;
	width: 100%;
	/* display: flex; */
	float: left;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background-color: rgba(26, 85, 186, 0.526);
  margin-bottom: 30px;
	z-index: 1; /* làm nổi heder */
  }
  

  .nav-bar-top {
	display: inline-block;
  }
  
  .nav-bar-top > li {
	display: inline-block;
  }
  
  .nav-bar-top > li > a {
	color: white;
  }
  
  .nav-bar-top li a {
	text-decoration: none;
	line-height: 30px;
	padding: 0 24px;
	display: block;
	/* font-family: "Montserrat", "Open Sans", sans-serif; */
	font-size: 13px;
  }
  
  .fa {
	padding-right: 5px;
  }
  
  li > a:hover {
	color: #ff891e !important;
  }
  
  .nav {
	margin-top: 30px;
	/* background-color: rgba(249, 123, 51, 0.526); */
	position: fixed;
	z-index: 1;
	display: block;
	width: 100%;
  }
  
  .nav-right {
	height: 50px;
	display: inline-block;
	margin-right: 50px;
	right: 0;
	float: right;
  }
  
  .nav-right > li {
	display: inline-block;
	position: relative;
  }
  
  .nav-right > li > a {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	font-family: "Montserrat", "Open Sans", sans-serif;
	margin: 0 5px 10px 5px;
	font-size: 14px;
	padding: 15px 5px 7px 0;
	border-bottom: 1px solid #ffffff;
  }
  
  .nav-right > li > a:hover {
	border-bottom: 3px solid #ff891e;
  }
  
  .icon-search > a {
	padding: 10px 12px !important;
	background-color: #ff891e;
	border-radius: 4px;
	border-bottom: 1px solid #ff891e !important;
  }
  
  .nav-right li:hover .subnav {
	display: block;
	display: inline-block;
  }
  
  .nav-right .subnav li:hover a {
	color: #ff891e;
  }
  
  .nav-right > li:hover > a {
	color: #ff891e;
	border-bottom: 3px solid #ff891e;
  }
  
  .nav-right .subnav {
	display: none;
	min-width: 150px;
	top: 100%;
	left: 0;
	position: absolute;
	background-color: white;
	list-style-type: none;
	border: #717171;
	border-radius: 4%;
  }

  .nav-right .subnav a {
	color: #000;
	padding: 0 12px;
	line-height: 38px;
	text-decoration: none;
	font-size: 13px;
  }

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    transform: translateY(30px);
    z-index: 1;
}
.logo img{
    width: 130px;
    display: block;
}
.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

header .sticky{
    background: white;
    color: black;
    opacity: 0.9;
    border: 1px solid #c0c0c0;
    transform: translateY(-30px);
}
header .sticky .mainMenu a{
    color: black;
}
.headerMenu{
    display: flex;
    text-transform: uppercase;
}
.headerMenu .mainMenu a{

    display: block;
}
.headerMenu .mainMenu >a{
    margin: 0 10px 10px 10px;
    color: #fff;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.headerMenu .mainMenu:hover >a::before{
    position: absolute;
    width: 100%;
}
.headerMenu .mainMenu >a:hover::before{
    position: absolute;
}
.headerMenu .mainMenu:hover >a{
    color: #ff891e;
    border-bottom: 1px solid #ff891e;
    transition: all 0.5s ease-in-out;
}
.headerMenu .mainMenu .dropMenu{
    position: absolute;
    border-radius: 5px;
    top: 100%;
    border: black 1px solid;
    background-color: whitesmoke;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
}
.headerMenu .mainMenu:hover .dropMenu{
    opacity: 1;
    visibility: visible;
}
.headerMenu .mainMenu .dropMenu a{
    padding: 10px 10px;
    margin: 10px 0px;
    white-space: nowrap;
    color: #333;
    transition: 0.3s;
}
.headerMenu .mainMenu .dropMenu a:hover{
    color: #ff891e;;
    background-color: #e7e7e7;
}
.megaMenu{
    position: absolute;
    border-radius: 5px;
    border: black 1px solid;
    left: 0;
    top: 100%;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    visibility: hidden;
    transition: 0.3s;
}
.mainMenu:hover .megaMenu{
    opacity: 1;
    visibility: visible;
}
.megaMenu .megaList{
    margin: 20px;
    flex-basis: 30%;
    max-width: 30%;
}
.megaMenu .megaList li{
    margin: 10px;
}
.megaMenu .megaList li>a{
    padding: 10px 0px;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    transition: 0.3s;
}
.megaMenu .megaList li>a:hover{
    color: #ff891e;
    background-color: #e7e7e7;
}

.banner{
    height: 480px;
}

.image-slider {
    width: 100%;
    object-fit: cover;
}
.image-slider span{
    font-size: 50px;
    color: white;
    font-weight: bold;

}

.image-slider a{
    padding: 5px 10px;
    font-size: 25px;
    color: white;
    background: #ff891e;
    border-radius: 5px;

}
.image-slider a:hover{
    opacity: 0.7;
}
.image1{
    position: relative;
    height: 480px;
    background-image: url(https://windows10spotlight.com/wp-content/uploads/2021/01/43628e534c5d5615579a9be2efff2e0b.jpg);
    background-position: center;
    background-size: cover;

}
.cs1{
    position: absolute;
    top:40%;
    left:30%;
}
.image2{
    position: relative;
    height: 480px;
    background-image: url(https://taucaotoc.vn/wp-content/uploads/2020/04/Con-Dao-3.jpg);
    background-position: center;
    background-size: cover;
}
.cs2{
    position: absolute;
    top:40%;
    left:30%;
}
.image3{
    position: relative;
    height: 480px;
    background-image: url(http://media.vietq.vn/files/ctvhanh/du-lich-hoi-an-1.jpg);
    background-position: center;
    background-size: cover;
}
.cs3{
    position: absolute;
    top:40%;
    left:30%;
}
.slick-arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c0c0c0;
    color: white;
    border: none;
    z-index: 2;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1;
}
.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(-250%);
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
}
.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    background-color: gray;
    border: none;
    outline: none;
}
.slick-dots .slick-active button{
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.814);
    border: 2px solid rgba(255, 255, 255, 0.955);
}
.slick-prev{
    left: 0;

}
.slick-next{
    right: 0;

}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search img{
    width: 40px;
    height: 40px;
}
.search button{
    border-style: none;
}
.search_bar{
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 40%);
    transform: translateY(-50%);
}
.search_bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 14px;
    color: #cac7ff;
}
.content_title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_title span{
    font-size: 40px;
    color: red;
    margin: 25px 0px;
}
.card-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}
.card{
    display: flex;
    margin: 0px 60px;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 40%);
}
.card-title{
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.card img{
    width: 100%;
    height: 283px;
    z-index: 0;
}
